################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/RentaCar/.vs/RentaCar/FileContentIndex/59d4c385-ae24-4130-9ce1-77aba103a3e3.vsidx
/RentaCar/.vs/RentaCar/FileContentIndex/59d4c385-ae24-4130-9ce1-77aba103a3e3.vsidx
